---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post: CollectionEntry<"posts">) => ({
    params: {
      slug: post.data.slug,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;

const formattedDate = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "2-digit",
  timeZone: "UTC",
}).format(new Date(post.data.publishedAt!));

const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <main class="flex flex-col gap-12">
    <section class="flex flex-col">
      <h1>{post.data.title}</h1>
      <p class="text-sm text-muted-foreground mt-2!">
        Posted <time>{formattedDate}</time>
      </p>
    </section>
    <article>
      <Content />
    </article>
  </main>
</BaseLayout>
