---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post: CollectionEntry<"blog">) => ({
    params: {
      slug: post.data.slug,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;

const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <main class="flex flex-col gap-12">
    <section class="flex flex-col">
      <h1 class="text-3xl leading-none text-balance tracking-tight font-bold mt-8" >{post.data.title}</h1>
    </section>
    <article >
      <Content />
    </article>
  </main>
</BaseLayout>
