---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatDate } from "../../lib/utils";

const posts = await getCollection("posts");
---

<BaseLayout
  title="Blog"
  description="A collection of my writings, rants and incomplete notes."
>
  <main class="flex flex-col gap-10">
    <section>
      <h1 class="text-3xl leading-none text-balance tracking-tight font-bold mt-8" >Blog</h1>
      <p class="text-foreground-subtle mt-1! text-sm leading-6">
        A collection of my writings, rants and incomplete notes.
      </p>
    </section>
    <section>
      {
        posts.length > 0 ? (
          <div class="flex flex-col gap-6">
            {posts.map((post) => (
              <a href={`/blog/${post.data.slug}`}>
                <div class="flex flex-col sm:flex-row gap-1.5 sm:gap-4 sm:justify-between sm:items-center">
                  <span class="text-lg font-bold leading-tight tracking-tight">{post.data.title}</span>
                  <span class="text-foreground-subtle text-sm">
                    {formatDate(new Date(post.data.publishedAt!))}
                  </span>
                </div>
              </a>
            ))}
          </div>
        ) : (
          <p class="text-foreground-subtle">Nothing to see here!</p>
        )
      }
    </section>
  </main>
</BaseLayout>
