---
import Base from "../layouts/Base.astro";
---
<Base title="Bachitter" description="Bachitter is a product engineer based in Vancouver,CA.">
	<main class="flex flex-col gap-6">
		<section class="flex flex-col">
	<h1 class="text-foreground">Bachitter</h1>
	<p class="text-muted-foreground !mt-0">
			Product Engineer
		</p>
		</section>
	</main>
</Base>
