---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Photos" description="Random dump of unedited photos." >
  <main class="flex flex-col gap-10">
      <section>
        <h1>Photos</h1>
        <p class="text-muted-foreground !mt-0">
        Collection of photos sometimes edited or sometimes not. Moments from my life.
        </p>
      </section>
      <section>
    </section>
    <section>
      <p class="text-muted-foreground text-xs" >Final point — go slower, look around and sometimes just be in the moment than taking a photo.</p>
    </section>
    </main>
</BaseLayout>
